.head {
    display: flex;
    justify-content: space-between;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul li {
    display: inline-block;
}

.head a {
    text-decoration: none;
    color: black;
    margin-right: 25px;
}

h2 {
    font-family: 'Oooh Baby', cursive;
    font-weight: bolder;
}

.menu {
    word-spacing: 4px;
    font-weight: 540;
}

.logo {
    font-family: "Sofia", sans-serif;
    font-weight: bolder;
    margin-left: 25px;
}

.cover_page img {
    width: 1387px;
    height: 460px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -2;
}

.profile img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    position: absolute;
    left: 180px;
    top: 290px;
    z-index: 1;
}

.name h2 {
    margin-top: 600px;
    margin-bottom: 100px;
    margin-right: 160px;
    margin-left: 160px;
    word-spacing: 20px;
}

.name h3 {
    margin-top: 5px;
    margin-right: 280px;
    margin-left: 280px;
    font-weight: 100;
}

.about_me {
    margin-top: -350px;
    margin-left: 800px;
    margin-right: 150px;
}

.name hr {
    margin-left: 240px;
    margin-top: -50px;
}

.me_pro {
    font-weight: normal;
}

.about_me h3 {
    font-weight: normal;
}

.contact {
    position: absolute;
    left: 230px;
    top: 870px;
}

.contact img {
    width: 50px;
    height: 40px;
    border-radius: 8px;
}

.experience {
    display: flex;
    justify-content: space-between;
}

.education {
    display: flex;
    justify-content: space-between;
}

.topic_1 {
    margin-top: 200px;
    margin-left: 210px;
}

.box_1 {
    width: 950px;
    height: 400px;
    line-height: 50px;
    color: #f5f7fa;
    background-color: white;
    border: 1px solid white;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}

.experience {
    display: flex;
    position: relative;
    margin-top: -350px;
    margin-left: 310px;
}

.detail_job {
    margin-right: 290px;
    margin-top: 85px;
}

.topic_2 {
    margin-top: 250px;
    margin-left: 210px;
}

.box_2 {
    width: 950px;
    height: 400px;
    line-height: 50px;
    color: #f5f7fa;
    background-color: white;
    border: 1px solid white;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}

.education {
    display: flex;
    position: relative;
    margin-top: -350px;
    margin-left: 310px;
}

.detail_education {
    margin-right: 290px;
    margin-top: 85px;
}

.topic_3 {
    margin-top: 250px;
    margin-left: 210px;
}

.detail_skill {
    display: flex;
    justify-content: space-between;
}

.skill_img_1 img {
    width: 230px;
    height: 180px;
    margin-top: 100px;
    margin-left: 190px;
    margin-right: 100px;
}

.skill_img_2 img {
    width: 230px;
    height: 180px;
    margin-top: 100px;
    margin-left: 10px;
    margin-right: 270px;
}

.skill_img_3 img {
    width: 230px;
    height: 180px;
    margin-top: 100px;
    margin-left: -160px;
    margin-right: -160px;
}

.skill_text_1 {
    margin-top: 60px;
    margin-left: 235px;
}

.skill_text_2 {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 300px;
}

.skill_text_3 {
    margin-top: 60px;
    margin-left: -95px;
    margin-right: 200px;
}

.topic_4 {
    margin-top: 180px;
    margin-left: 210px;
}

.lang_img_1 img {
    margin-top: 100px;
    margin-left: 620px;
    margin-right: 600px;
}

.lang_img_2 img {
    margin-top: 50px;
    margin-left: 650px;
    margin-right: 630px;
}

.lang_img_3 img {
    margin-top: 50px;
    margin-left: 655px;
    margin-right: 635px;
}

.lang_text_1 {
    margin-top: -100px;
    margin-left: 310px;
}

.lang_text_2 {
    margin-top: -100px;
    margin-left: 310px;
}

.lang_text_3 {
    margin-top: -80px;
    margin-left: 310px;
}

.detail_portfolio {
    display: flex;
    justify-content: space-between;
}

.photo_port_1 img {
    width: 250px;
    height: 200px;
    margin-top: 50px;
    margin-left: 100px;
}

.photo_port_2 img {
    width: 250px;
    height: 300px;
    margin-top: 50px;
    margin-left: 0px;
}

.photo_port_3 img {
    width: 250px;
    height: 400px;
    margin-top: 50px;
    margin-left: 10px;
}

.photo_port_4 img {
    width: 250px;
    height: 500px;
    margin-top: 50px;
    margin-right: 20px;
}

.about_port1 {
    margin-left: 90px;
}

.title_up {
    margin-top: -750px;
    margin-left: 380px;
}

.detail_contact {
    display: flex;
    justify-content: space-between;
}

.talk {
    margin-top: 100px;
    margin-left: 350px;
}